@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla&family=Markazi+Text:wght@500&family=Poppins:wght@200&display=swap");

.showcase {
  height: 500px;
  background-color: var(--primary-color-green);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 0;
}

.showcase h2 {
  text-align: center;
}

.showcase h3 {
  font-size: 30px;
  margin-top: 0;
}

.showcase p {
  font-size: 17px;
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 0;
  height: 450px;
  width: 400px;
  padding: 20px;
  z-index: 1;
  justify-self: flex-end;
}

.showcase-img {
  /* position: relative; */
  border-radius: 15px;
  /* top: 60px;
  height: 200px;
  width: 200px;
  padding: 40px;
  z-index: 1;
  justify-self: flex-end; */
}

.showcase-img .form-control {
  margin: 30px 0;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}

/* MEDIA QUERIES*/
/* Tablet */
@media screen and (min-width: 391px) and (max-width: 900px) {
  .main {
    padding-top: 0;
  }
  .showcase-form {
    position: relative;
    top: 0;
    height: 450px;
    width: 400px;
    padding-left: 55px;
    z-index: 1;
  }
}
/* Phone */
@media screen and (max-width: 390px) {
  .showcase .grid {
    grid-template-columns: 100%;
  }

  .showcase-img {
    visibility: hidden;
    overflow: hidden;
  }
  .main {
    padding-top: 0;
  }
}
