@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Markazi+Text:wght@500&family=Poppins:wght@200&display=swap");

.navbar {
  position: fixed;
  background-color: #fff;
  color: #000;
  height: 70px;
  border-bottom: solid 5px #495e57;
  z-index: 1000;
  width: 100%;
}

.navbar ul {
  display: flex;
  padding: 24px;
}

.navbar a {
  color: #000;
  margin: 0 9px;
}

.navbar a:hover {
  color: var(--primary-color-yellow);
}

.navbar .flex {
  justify-content: space-between;
}

.navbar__logo {
  height: 100%;
  width: auto;
  padding: 5px 0;
}

.header__cart-img {
  display: flex;
  height: 30px;
  width: auto;
}

@media screen and (max-width: 992px) {
  .navbar {
    overflow: hidden;
    position: relative;
  }
  .navbar a {
    display: none;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .navbar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .navbar a {
    display: none;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .navbar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
