.reservation {
  padding: 100px 0 50px 0;

  height: fit-content;
  background-color: var(--primary-color-green);
  color: #fff;
  position: relative;
}

.reservation .grid {
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  height: max-content;
  overflow: hidden;
}

.reservation .container h1 {
  grid-column: 1 / span 2;
}
