* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Markazi Text", "Karla", serif;
  color: #000;
  line-height: 1.2;
}

label,
input,
select,
textarea,
p {
  font-family: "Karla";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 300;
  line-height: 0.8;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Utilities */
:root {
  --primary-color-green: #495e57;
  --primary-color-yellow: #f4ce14;
}

.main {
  padding-top: 70px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.form-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #000;
  border: none;
}

.btn {
  display: inline-block;
  padding: 15px 60px;
  cursor: pointer;
  background-color: var(--primary-color-yellow);
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: var(--primary-color-yellow);

  color: #333;
  border-radius: 5px;
}

.btn-outline:hover {
  background-color: #000;
  color: #fff;
  transition: 0.4s;
}

.btn-pri:hover {
  transform: scale(0.98);
}

.text-center {
  text-align: center;
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.flex {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}
.p-5 {
  padding: 4rem;
}

/* MEDIA QUERIES*/
/* Tablet */
@media screen and (min-width: 321px) and (max-width: 768px) {
}
/* Phone */
@media screen and (max-width: 320px) {
}
