@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla&family=Markazi+Text:wght@500&family=Poppins:wght@200&display=swap");

button {
  width: 150px;
  height: 45px;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  background-color: #f4ce14;
  border: none;
  padding: 0;
  box-shadow: 0px 8px 15px rgba(6, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(6, 0, 0, 0.1);
  color: #fff;
  transition: all 0.5s ease 0s;
  /* transform: trans7ateY(-7px); */
}
