@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Markazi+Text:wght@500&family=Poppins:wght@200&display=swap");

.navbar {
  background-color: #fff;
  color: #000;
  height: 70px;
}

.navbar ul {
  display: flex;
  padding: 24px;
}

.navbar a {
  color: #000;
  margin: 0 9px;
}

.navbar a:hover {
  color: var(--primary-color-yellow);
}

.navbar .flex {
  justify-content: space-between;
}

.navbar__logo {
  height: 100%;
  width: auto;
  padding: 5px 0;
}

.header__cart-img {
  display: flex;
  height: 30px;
  width: auto;
}
