@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Markazi+Text:wght@500&family=Poppins:wght@200&display=swap");

.footer {
  background-color: #fbdabb;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer .grid {
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
}

.footer-logo {
  width: 6rem;
  height: auto;
}

.social-img {
  width: 30px;
}

/* MEDIA QUERIES*/
/* Tablet */
@media screen and (min-width: 400px) and (max-width: 900px) {
}

/* Phone */
@media screen and (max-width: 400px) {
  .footer .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .footer .grid > *:first-child {
    grid-row: 1 / span 3;
  }
}
