@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Markazi+Text:wght@500&family=Poppins:wght@200&display=swap");

.footer {
  background-color: #fbdabb;
}

.footer .grid {
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
}

.footer-logo {
  width: 6rem;
  height: auto;
}

.social-img {
  width: 30px;
}
